body {
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    -moz-osx-font-smoothing: grayscale;
}

.col-md-4{
	margin-left:0px;
	background-color:white;
	padding-left:15px;
	padding-top:25px;
	margin-top:25px;
}
h5 {
font-weight: bold;
margin: 0;
overflow: hidden;
text-align: left;
white-space: nowrap;
}
p {
	font-size: 15px;
}

p.search {
    color: white;
    font-weight: bold;
}
p.car {
	margin-bottom: 1rem;
	font-size: inherit;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
	color:white;
}
h5.car{
	font-weight: bold;
	color:white;
}
h2.car{
	font-weight: bold;
}

.btn-danger{
background: #a71c21;
padding: 8px 20px;
float: right;
color: white;
font-weight: bold;
width: auto;
font-size: 20px;
right: 0;
position: relative;
}

.container{
	height:auto;
	width:auto;
}

.myDiv{
	background-color:#e7eaed;
	width:374px;
}
.bil-container{
	width:1500px;
	height:inherit;
	margin:auto 0;
}

.car-display {
    background: #f4f5f7;
    float: left;
    width: 100%;
    }
.info {
    padding: 20px;
	background: #f4f5f7;
    float: left;
    width: 436px;
}
.btn-container{
	margin-right:0px;
	background-color: #f4f5f7;
	padding-right:0px;
	margin-top:10px;
}
.pagination{
margin-left:40%;
}
.jumbotron{
	background-color:#545051;
	width:85%;
}

/*********SEARCH FORM*********/
.card{
		background-color:#545051;
		width:100%;

}
.card-header{
	height:50px;
}
.card-body{
	height:200px;
			padding:20px 100px 30px 100px;

}
.card-footer{
	background-color:black;
	height:40px;
	color:white;
	padding-left: 100px
}


.form-control mr-sm-2 {

}

.sub-filter-bar {
float: left;
width: 100%;
display: block;
background: #292325;
padding: 10px 50px;
box-sizing: inherit;
}

.search-item {
	width:500px;
	height:65px;
}

/***********TABLE CAR SITE*********/
.page-header{
	margin-left:175px;
}

.table td {
  width: 100%;
}

.table{
	background-color:#292325;
	color:#bebcbd;
	width:75%;
	float:right;
	margin-bottom:0px;
}
.card-car{
		background-color:#a71c21;
		width:75%;
		float:right;


}
.card-header-car{
	height:0px;
}
.card-body-car{
	height:200px;
			padding:0px 100px 30px 10px;
			text-align: left;

}
.card-footer-car{

}
td.prisetc{
	font-weight:bold;
	color:white;
	margin-right:122px;
}
.col-md-8{
	float: right;
	width:75%;
	text-align:center;
	color:#a71c21;
}



/* JNP Overwrite */
.container {
	max-width: 1500px;
}
.card {
	margin: auto;
}
select.form-control {
	border-radius: 0;
}

html body .btn-danger {
    background: #a71c21;
    padding: 8px 20px;
    float: right;
    color: white;
    font-weight: bold;
    width: auto;
    font-size: 20px;
    right: 0;
	position: relative;
	border-radius: 0;
}

html body .btn-danger:hover {

    background: #a71c21;	
}

#search-form input {
	border-radius: 0;
	
	height: 56px;
	text-indent: 5px;
	font-size: 16px;
	padding: 5px;
}


.car-total {
	text-align: center;
	text-transform :uppercase;
	font-size: 20px;
	font-weight: bold;
	
	color: #292325;s
}

.card-footer p {

	margin-bottom: 0;
    padding-top: 9px;
}

.bil-container a {
	background: #f4f5f7;
	max-width: 100%;
	display: inline-block;
	
	color: #0a0a0a;
}


.bil-container a:hover {
	color: #90181c;
}

.bil-container a:hover .car-body p {

	
	color: #0a0a0a;	
}

.car-body {
	margin-top: 15px;
}

.bil-container a p {
	margin-bottom: 0;
	font-size: 15px;
}

.bil-container a h5 {
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 20px;
}